{{#each this}}
<<<<<<< HEAD
<li>
  <a href="#" class="movie__link">
    <img src="{{poster}}" width="280" height="400">
    <div class="data" data-title="{{title}}" data-voteAverage="{{voteAverage}}" data-voteCount="{{voteCount}}"
      data-overview="{{overview}}" data-popularity="{{popularity}}" data-originalTitle="{{originalTitle}}"
      data-genres="{{genres}}" data-poster="{{poster}}">
    </div>
    <h2>{{title}}</h2>
    <p>{{genres}} | {{releaseDate}}</p>
=======

  <li class="movie-list-item">
<a href="#" class="movie__link">
  <img src="{{poster}}" class="movie__image">
<div class="data" 
data-title="{{title}}"
data-voteAverage ="{{voteAverage}}" 
data-voteCount ="{{voteCount}}"
data-overview="{{overview}}"
data-popularity="{{popularity}}"
data-originalTitle="{{originalTitle}}"
data-genres="{{genres}}"
data-poster="{{poster}}"
>
</div>
  <h2>{{title}}</h2>
  
  <p>{{genres}} | {{releaseDate}}</p>
>>>>>>> a78eba2ec232ff2de4a91f10f8403f611ec501a2
  </a>
</li>

{{/each}}