{{#each this}}

<li class="movie-list-item">

  <a href="#" class="movie__link">
    <picture>
      <source srcset="{{poster}}" media="" type="" />
      <img src="../images/zaglushka.jpg" class="movie__image">
    </picture>

    <div class="data" data-title="{{title}}" data-voteAverage="{{voteAverage}}" data-voteCount="{{voteCount}}"
      data-overview="{{overview}}" data-popularity="{{popularity}}" data-originalTitle="{{originalTitle}}"
      data-genres="{{dataGenres}}" data-poster="{{poster}}">
    </div>
    <h2 class="movie-description dark">{{title}}</h2>

    {{#each genres}}
    <p class="movie-description light after">{{this}}</p>
    {{/each}}
    <p class="movie-description light"> | {{releaseDate}}</p>
    <p class="movie-description vote_averege">{{voteAverage}}</p>

  </a>
</li>

{{/each}}