<div class="overlay container">

  <img src="{{poster}}" alt="" class="modal__img">
  <h1 class="modal__title">{{title}}</h1>
    <ul class="modal__list">
      <li class="modal__item"><p class="modal__item_title">Vote / Votes</p> 
        <span class="item__data vote_averege">{{voteAverage}}</span>
      /  <span class="item__data vote_count">{{voteCount}}</span>
        </li>
      <li class="modal__item"><p class="modal__item_title">Popularity</p>
        <span class="item__data popularity">{{popularity}}</span>
        </li>
      <li class="modal__item"><p class="modal__item_title">Original Title </p>  
        <span class="item__data original">{{originalTitle}}</span>
        </li>
      <li class="modal__item genres__item">
        <span class="modal__item_title">Genre</span>

          {{#each genres}}
          <p class="genres">{{this}}</p>
          {{/each}}
        
        </li>
      </ul>
    <h2 class="about__title">About</h2>
      <p class="overview">{{overview}}</p>

    <div class="button__items">
      <button class="btn btn-dark">add to Watched</button>
      <button class="btn btn-dark">add to queue</button>
      </div>
</div>
