
<h1 class="modal__title">{{title}}</h1>
<img src="{{poster}}" alt="" class="modal__img">
<ul class="modal_movie">
  <li class="movie__items">Vote / Votes 
    <span>{{voteAverage}} / {{voteCount}}</span>
    </li>
  <li class="movie__items">Popularity 
    <span>{{popularity}}</span>
    </li>
  <li class="movie__items">Original Title 
    <span>{{originalTitle}}</span>
    </li>
  <li class="movie__items">Genre
    <span>{{genres}}</span>
    </li>
</ul>
<h2 class="modal__title">About
  <p>{{overview}}</p>
  </h2>
